html, body {
  height: 100%;
}

body {
  background-color: lightblue; 
  text-align: center;
  background-image: url("http://i.imgur.com/aIcON07.gif");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

#header {
  margin-top: 10%;
}

h1 {
  text-align: center;
  font-family: 'Baloo Bhaina', cursive;
}

a, a:hover {
  color: #fff;
  text-decoration: underline;
}

#response {
  text-align: left;
  padding: 10px;
  height: 300px;
  border-radius: 5px;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.35);
  margin-bottom: 10px;
  word-wrap: break-word;
}

#input {
  width: 100%;
  background: rgba(0, 0, 0, 0.35); 
  color: #fff;
}

.flexscroll {
  width: hidden;
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
}

.flexscroll {
  scrollbar-face-color: #fff;
  scrollbar-shadow-color: #fff;
  scrollbar-highlight-color: #fff;
  scrollbar-3dlight-color: #fff;
  scrollbar-darkshadow-color: #fff;
  scrollbar-track-color: #fff;
  scrollbar-arrow-color: #fff;
}

.flexscroll::-webkit-scrollbar {
  width: 12px;
}
 
.flexscroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(163, 163, 163, 0.4); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

